.card {
  position: relative;
  height: 100%;

  .card-header {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .card-img-top {
    height: 200px;
    object-fit: contain;
    object-position: center center;
    padding: 2rem;
  }

  .card-body {

    p {
      margin-bottom: 0;
    }

    a {

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

}