.product-item {
  position: relative;
  height: 100%;
  overflow: hidden;

  &:before {
    z-index: 1;
    content: '';
    background-color: rgba($primary, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 200%;
    left: -50%;
    transform: rotate(45deg);
    transform-origin: center center;
    transition: .2s ease all;
  }

  &:hover:before {
    transition: .2s ease all;
    top: 50%;
    left: -50%;
  }

  .card-header {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .card-img-top {
    height: 200px;
    object-fit: contain;
    object-position: center center;
    padding: 2rem;
    // filter: grayscale(1);
  }

  //&:hover .card-img-top {
  //  filter: grayscale(0);
  //}

  .card-body {
    z-index: 2;

    p {
      margin-bottom: 0;
    }

    a {

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

}