.text {

  &.h1-home{
      word-break: break-word!important;
      font-family: Poppins, sans-serif;
      line-height: 1!important;
      padding: 100px 0;
      font-weight: 900!important;
      text-transform: uppercase!important;
      color: #114d4d;
    }

  &.h2-home {
    font-weight: bold;
    word-break: break-word!important;
    font-family: Poppins, sans-serif;
    text-transform: uppercase!important;
    color: #114d4d;
    padding: 50px 0;
  }

  &.p-home; {
  display: block;
  text-align: center;
  margin: auto;
  max-width: 800px;
  word-break: break-word!important;
  font-family: Poppins, sans-serif;
  color: #49ada1;
    }

  &.h5-home {
    font-weight: bold;
    word-break: break-word!important;
    font-family: Poppins, sans-serif;
    text-transform: uppercase!important;
    color: #114d4d;
  }


}