#jumbotron-2 {
  .icones {

    text-align: center;
    background-image: url("https://cdn.pixabay.com/photo/2016/07/12/09/31/package-1511683_1280.jpg");
    border: solid 2px red;
    padding: 0 30%;

        img  {
        height: 10rem;
        width: auto;
        margin: 50px 0;
      }
    li {
      list-style: none;
    }
  }
}

#form {
    form{
        padding: 0 30%;
        .field{
            padding-bottom: 15px;
        }
        .btn-form {
            padding-top: 20px;
            padding-bottom: 200px;
        }
    }
}