#footer {
  padding: 50px 0;
  background-color: #FFFBFA;
  color: #000;

  .footer-title {
    font-size: 1.7rem;
    font-weight: bold;
  }

  .footer-list {
   margin-bottom: 12px;
    justify-self: center;
  }

  span {
    padding-bottom: 15px;
    display: block;
    text-align: center;
  }

  ul {
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      list-style-type: none;

      a {
        color: inherit;
        text-decoration: none;
        transition: .2s ease padding-left;

        &:hover {
          color: #00BD9D;
          padding-left: 10px;
          transition: .2s ease padding-left;
          font-weight: bold;
          transform: scale(1.1);

        }
      }
    img {
      height: 4rem;
      width: auto;
      padding: 6px;
    }
    }
  }
}