#footer {
  padding: 50px 0;
  background-color: $secondary;
  color: #fff;

  .footer-title {
    font-size: 1.3rem;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;

      a {
        color: inherit;
        text-decoration: none;
        transition: .2s ease padding-left;

        &:hover {
          color: $primary;
          padding-left: 10px;
          transition: .2s ease padding-left;

        }
      }
    img {
      height: 4rem;
      width: auto;

    }
    }
  }
}