#header {

  .navbar {
    background-color: #8BD7D2;
    position: fixed;
    top: 0;
    width: 100%;
  z-index: 9999;
    box-shadow: lightgrey 0 0 3px 2px;


    ul {

      li {

        a {
          color: white;
          font-size: 1.5rem;

          &:hover {
            transition: transform 0.2s ease;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}