// Base
$body-bg: #f7f7f7;
$body-color: #2e2e2e;

// Colors
$primary: #49C6E5;
$secondary: #8BD7D2;

// Fonts
$font-family-base: 'Roboto', sans-serif;

// Buttons
$btn-border-radius: 50rem;
$btn-padding-x: 2rem;
$btn-font-size: 20px;
