// Base
$body-bg: #f7f7f7;
$body-color: #2e2e2e;

// Colors
$primary: blue;

// Fonts
$font-family-base: 'Yusei Magic', sans-serif;

// Buttons
$btn-border-radius: 50rem;
$btn-padding-x: 2rem;
$btn-font-size: 20px;
